<div class="container-fluid" id="about">
	<h1>Hop! Pancakes</h1>
	<p>Our love for pancakes drove us to perfect our recipe to create the tastiest and best fluffy pancakes in the world. Come try some! </p>
</div>