<div class="container-fluid" id= "home">
	<h1>Welcome to Hop! Pancakes</h1>
	<h2>Yummy, fluffy all day breakfast pancakes!</h2>

	<%= image_tag("pancakes-big.jpg", class: "img-responsive") %>

	<h3>image taken by Ash https://www.pexels.com/photo/blur-breakfast-close-up-dairy-product-376464/<h3>

</div>