<h2> Pancakes </h2>

<div class = "carousel slide" id="carousel-example-generic" data-ride ="carousel">
  <!-- Indicators -- > 
  <ol class = "carousel-indictors">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class = "carousel-inner" role = "listbox">
    <% @products.each do |product| %>
      <div class = "item active">
        <%= image_tag(product.image_url) %>
      </div> <!--/item-->
    <% end %>
  </div><!--/carousel-inner--> 

  <!-- Controls -->
  <a class = "left carousel-control" href = "#carousel-example-generic" role = "button" data-slide = "prev"> 
    <span class = "glyphicon glyphicon-chevron-left" aria-hidden = "true"></span>
    <span class = "sr-only">Previous</span>
  </a>
  <a class = "right carousel-control" href = "#carousel-example-generic" role = "button" data-slide = "next">
    <span class = "glyphicon glyphicon-chevron-right" aria-hidden = "true"></span>
    <span class = "sr-only">Next</span>
  </a>
</div> <!--carousel slide -->


