<h1>Our Menu</h1>

<h2>All day Breakfast</h2>
<%= image_tag("samplemenu.jpg", class: "img-responsive")%>

<h2>Kids Menu</h2>
<%= image_tag("kidsmenu.jpg", class: "img-responsive")%>

<p> ** sample images from Google ** </p>