<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row header">
    <h1>Products</h1>
  </div>

  <div class="row new-pdt">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div><!--/container-->

<div class="container-fluid" id="pdt-menu">
  <div class="row">
    <%= render @products %>
  </div><!--/row-->
</div><!--/container-->

